mixin certifications-card(certifications)
    #certifications-card.card.w-100.mb-4
        .card-body
            h4.card-title.text-center
                ion-icon.text-primary(name='document-outline')
                br
                | Certifications
            ul.list-group.list-group-flush
                each certification in certifications
                    +certification-item(certification)
            button.btn.btn-outline-primary.btn-block.mt-4(data-toggle='modal' data-target='#add-certification-modal') Add Certification

mixin certification-item(certification)
    li.list-group-item
        button.btn.mr-4(data-toggle='modal' data-target=`#edit-certification-modal-${certification._id}`)
            ion-icon(name='create-outline')
        span= `${certification.institution}`

mixin add-certification-modal
    #add-certification-modal.modal.fade(tabindex='1')
        .modal-dialog
            .modal-content
                form(action='/app/certifications/add' method='POST')
                    .modal-header
                        h5.modal-title Add Certification
                        button.close(type='button' data-dismiss='modal')
                            span &times;
                    .modal-body
                        .row
                            .col-12.col-md-8
                                label Insitution
                                input.form-control.mb-2(name='institution' data-validate required)
                            .col-12.col-md-4
                                label Exam Date
                                input.form-control.mb-2(name='exam-date' placeholder='mm/dd/yyyy' data-type='date' required)
                        .row
                            .col-12
                                label Certification
                                input.form-control.mb-2(name='certification' data-validate required)
                        .row
                            .col-12
                                label Additional Details (optional)
                                textarea.form-control.mb-2(name='details')
                    .modal-footer
                        button.btn.btn-secondary.btn-sm(
                            type='button'
                            data-dismiss='modal') Close
                        button.btn.btn-primary.btn-sm(type='submit') Save

mixin edit-certification-modal(certification)
    .modal.fade(tabindex='1' id=`edit-certification-modal-${certification._id}`)
        .modal-dialog
            .modal-content
                form(action='/app/certifications/update' method='POST')
                    .modal-header
                        h5.modal-title Edit Certification
                        button.close(type='button' data-dismiss='modal')
                            span &times;
                    .modal-body
                        input(name='_id' value=certification._id hidden)
                        .row
                            .col-12.col-md-8
                                label Insitution
                                input.form-control.mb-2(name='institution' value=certification.institution data-validate required)
                            .col-12.col-md-4 Examination Date
                                input.form-control.mb-2(name='exam-date' value=certification.examDate placeholder='mm/dd/yyyy' data-type='date' required)
                        .row
                            .col-12
                                label Certification
                                input.form-control.mb-2(name='certification' value=certification.certification data-validate required)
                        .row
                            .col-12
                                label Additional Details (optional)
                                textarea.form-control.mb-2(name='details')= certification.details
                    .modal-footer
                        button.btn.btn-secondary.btn-sm(
                            type='button'
                            data-dismiss='modal') Close
                        button.btn.btn-primary.btn-sm(type='submit') Save