mixin education-card(educationHistory)
    .card.w-100.mb-4
        .card-body
            h4.card-title.text-center
                ion-icon.text-primary(name='school-outline')
                br
                | Education
            ul.list-group.list-group-flush
                each education in educationHistory
                    +education-item(education)
            button.btn.btn-outline-primary.btn-block.mt-4(data-toggle='modal' data-target='#add-education-modal') Add Education

mixin education-item(edu)
    li.list-group-item
        button.btn.mr-4(data-toggle='modal' data-target=`#edit-education-modal-${edu._id}`)
            ion-icon(name='create-outline')
        span= `${edu.institution} (${edu.end.split("/")[2]})`

mixin add-education-modal
    #add-education-modal.modal.fade(tabindex='1')
        .modal-dialog
            .modal-content
                form(action='/app/education/add' method='POST')
                    .modal-header
                        h5.modal-title Add Education
                        button.close(type='button' data-dismiss='modal')
                            span &times;
                    .modal-body
                        .row
                            .col-12
                                label Level
                                input.form-control.mb-2(name='level' data-validate required)
                        .row
                            .col-12
                                label Insitution
                                input.form-control.mb-2(name='institution' data-validate required)
                        .row
                            .col-12.col-md-6
                                label Start
                                input.form-control.mb-2(name='start-date' placeholder='mm/dd/yyyy' data-type='date' data-validate data-format)
                            .col-12.col-md-6
                                label End
                                input.form-control.mb-2(name='end-date' placeholder='mm/dd/yyyy' data-type='date' data-format required)
                        .row
                            .col-12.col-md-8
                                label Degree/Program
                                input.form-control.mb-2(name='degree' data-validate required)
                            .col-12.col-md-4
                                label GPA
                                input.form-control.mb-2(type='number' step='0.1' name='gpa' data-valdiate)
                        .row
                            .col-12
                                label Description
                                textarea.form-control.mb-2(name='description')
                    .modal-footer
                        button.btn.btn-secondary.btn-sm(
                            type='button'
                            data-dismiss='modal') Close
                        button.btn.btn-primary.btn-sm(type='submit') Save

mixin edit-education-modal(edu)
    .modal.fade(tabindex='1' id=`edit-education-modal-${edu._id}`)
        .modal-dialog
            .modal-content
                form(action='/app/education/update' method='POST')
                    .modal-header
                        h5.modal-title Add Education
                        button.close(type='button' data-dismiss='modal')
                            span &times;
                    .modal-body
                        input(name='_id' value=edu._id hidden)
                        .row
                            .col-12
                                label Level
                                input.form-control.mb-2(name='level' value=edu.level placeholder='Undergraduate' data-validate required)
                        .row
                            .col-12
                                label Insitution
                                input.form-control.mb-2(name='institution' value=edu.institution placeholder='Temple University' data-validate required)
                        .row
                            .col-12.col-md-6
                                label Start
                                input.form-control.mb-2(name='start-date' value=edu.start placeholder='mm/dd/yyyy' data-type='date')
                            .col-12.col-md-6
                                label End
                                input.form-control.mb-2(name='end-date' value=edu.end placeholder='mm/dd/yyyy' data-type='date' required)
                        .row
                            .col-12.col-md-8
                                label Degree/Program
                                input.form-control.mb-2(name='degree' value=edu.degree placeholder='B.Sc. Computer Science' data-validate)
                            .col-12.col-md-4
                                label GPA
                                input.form-control.mb-2(type='number' value=edu.gpa step='0.1' name='gpa' placeholder='GPA' data-validate)
                        .row
                            .col-12
                                label Description
                                textarea.form-control.mb-2(name='description')= edu.description
                    .modal-footer
                        button.btn.btn-secondary.btn-sm(
                            type='button'
                            data-dismiss='modal') Close
                        button.btn.btn-primary.btn-sm(type='submit') Save