mixin skills-card(skillset)
    .card.w-100.mb-4
        .card-body
            h4.card-title.text-center Skills
            .row.mt-4
                .col-12
                    each skill in skillset
                        if skill.proficiency > 66
                            span.badge.bg-success.rounded-pill.p-2.mr-1.mb-1(
                                data-toggle='modal'
                                data-target=`#edit-skill-modal-${skill._id}`)= skill.name
                    each skill in skillset
                        if skill.proficiency > 33 && skill.proficiency <= 66
                            span.badge.bg-warning.rounded-pill.p-2.mr-1.mb-1(
                                data-toggle='modal'
                                data-target=`#edit-skill-modal-${skill._id}`)= skill.name
                    each skill in skillset
                        if skill.proficiency <= 33
                            span.badge.bg-danger.rounded-pill.p-2.mr-1.mb-1(
                                data-toggle='modal'
                                data-target=`#edit-skill-modal-${skill._id}`)= skill.name
            .row
                .col-12
                    button.btn.btn-outline-primary.w-100.mt-4(data-toggle='modal' data-target='#add-skill-modal') Add Skill

mixin add-skill-modal
    #add-skill-modal.modal.fade(tabindex='1')
        .modal-dialog
            .modal-content
                form(action='/app/skills/add' method='POST')
                    .modal-header
                        h5.modal-title Add Education
                        button.close(type='button' data-dismiss='modal')
                            span &times;
                    .modal-body
                        .row
                            .col-12
                                label Skill
                                input.form-control.mb-2(name='skill')
                            .col-12
                                label Proficiency
                                .row
                                    .col-2.text-right 1   
                                    .col
                                        input.form-range.w-100(name='proficiency' type='range' min='1' max='100' step='1')
                                    .col-2 100
                    .modal-footer
                        button.btn.btn-secondary(
                            type='button'
                            data-dismiss='modal') Close
                        button.btn.btn-primary(type='submit') Add

mixin edit-skill-modal(skill)
    .modal.fade(tabindex='1' id=`edit-skill-modal-${skill._id}`)
        .modal-dialog
            .modal-content
                form(action='/app/skills/update' method='POST')
                    input(name='_id' value=skill._id hidden)
                    .modal-header
                        h5.modal-title Add Education
                        button.close(type='button' data-dismiss='modal')
                            span &times;
                    .modal-body
                        .row
                            .col-12
                                label Skill
                                input.form-control.mb-2(name='skill' value=skill.name)
                            .col-12
                                label Proficiency
                                .row
                                    .col-2.text-right 1   
                                    .col
                                        input.form-range.w-100(
                                            name='proficiency'
                                            type='range'
                                            min='1' max='100' step='1'
                                            value=skill.proficiency)
                                    .col-2 100
                    .modal-footer
                        button.btn.btn-secondary(
                            type='button'
                            data-dismiss='modal') Close
                        button.btn.btn-primary(type='submit') Update