mixin work-experience-card(experiences)
    .card.w-100
        .card-body
            h4.card-title Work Experience
            each experience in experiences
                +work-experience-item(experience)
            button.btn.btn-primary.btn-block(
                data-toggle='modal'
                data-target='#add-work-modal') Add Work Experience

mixin work-experience-item(experience)
    .alert.alert-success
        .row
            .col-12.col-md-8
                .btn= `${experience.position} at ${experience.organization}`
            .col-12.col-md-4.text-center.text-md-right
                button.btn.btn-light(data-toggle='modal' data-target=`#edit-work-experience-${experience._id}`)
                    ion-icon(name='create-outline')

mixin add-work-experience-modal
    #add-work-modal.modal.fade(tabindex='1')
        .modal-dialog
            .modal-content
                form(action='/app/work-experience/add' method='POST')
                    .modal-header
                        h5.modal-title Add Work Experience
                        button.close(type='button' data-dismiss='modal')
                            span &times;
                    .modal-body
                        .row
                            .col-12 Position
                                input.form-control.mb-2(name='position')
                        .row
                            .col-12 Organization
                                input.form-control.mb-2(name='organization')
                        .row
                            .col-12.col-md-6 Start
                                input.form-control.mb-2(name='start-date' placeholder='mm/dd/yyyy')
                            .col-12.col-md-6 End
                                input.form-control.mb-2(name='end-date' placeholder='mm/dd/yyyy')
                        .row
                            .col-12 Description
                                textarea.form-control.mb-2(name='description')
                    .modal-footer
                        button.btn.btn-secondary(
                            type='button'
                            data-dismiss='modal') Close
                        button.btn.btn-primary(type='submit') Save

mixin edit-work-experience-modal(experience)
    .modal.fade(
        tabindex='1'
        id=`edit-work-experience-${experience._id}`
    )
        .modal-dialog
            .modal-content
                form(action='/app/work-experience/edit' method='POST')
                    .modal-header
                        h5.modal-title Edit Work Experience
                        button.close(type='button' data-dismiss='modal')
                            span &times;
                    .modal-body
                        input(name='dbid' value=experience._id hidden)
                        .row
                            .col-12 Position
                                input.form-control.mb-2(name='position' value=experience.position)
                        .row
                            .col-12 Organization
                                input.form-control.mb-2(name='organization' value=experience.organization)
                        .row
                            .col-12.col-md-6 Start
                                input.form-control.mb-2(name='start-date' value=experience.start placeholder='mm/dd/yyyy')
                            .col-12.col-md-6 End
                                input.form-control.mb-2(name='end-date' value=experience.end placeholder='mm/dd/yyyy')
                        .row
                            .col-12 Description
                                textarea.form-control.mb-2(name='description')= experience.description
                        .row
                            .col-12
                                .alert.alert-danger
                                    input(type='checkbox' name='delete')
                                    span.ml-2 Delete
                    .modal-footer
                        button.btn.btn-secondary(
                            type='button'
                            data-dismiss='modal') Close
                        button.btn.btn-primary(type='submit') Save
