include components/dashboard/work-experience
include components/dashboard/education
include components/dashboard/personal-info
include components/dashboard/skillset
include components/dashboard/certifications
include components/dashboard/goals

mixin thumbs-indicator(strength)
    if strength <= 55
        .btn.btn-lg.text-danger
            ion-icon(name='thumbs-down-outline')
    else if strength <= 75
        .btn.btn-lg.text-warning
            ion-icon(name='thumbs-down-outline')
    else
        .btn.btn-lg.text-success
            ion-icon(name='thumbs-up-outline')

doctype html

html(lang='en-US')
    head
        include components/head
    body
        include components/navbar

        +add-work-experience-modal
        +add-education-modal
        +add-skill-modal
        +add-certification-modal

        each job, index in workExperience
            +edit-work-experience-modal(job, index)
        each education in educationHistory
            +edit-education-modal(education)
        each skill in skillset
            +edit-skill-modal(skill)
        each certification in certifications
            +edit-certification-modal(certification)
        
        .container.mt-4
            .row
                .col-12
                    span= `${account.fname} ${account.lname} (${account.email})`
            .row
                .col-12
                    hr
            .row
                .col-12.col-lg-6
                    +personal-info-card(account)
                .col-12.col-lg-6
                    .row
                        .col-12
                            +goals-card(account)
                        .col-12
                            +skills-card(skillset)
                .col-12.col-lg-6
                    +education-card(educationHistory)
                .col-12.col-lg-6
                    +work-experience-card(workExperience)
                .col-12.col-lg-6
                    +certifications-card(certifications)
        .container-fluid.mt-4.text-dark.pt-4.pb-4.bg-light
            .container
                .row
                    .col-12
                        h4.mb-4 Resume Strength
                .row
                    .col-12
                        h5 Overall Stregth
                            +thumbs-indicator(analysis.strength.overall)
                        .progress.mb-4
                            .progress-bar.bg-primary.text-right.pr-1(style=`width:${analysis.strength.overall}%`)
                                = `${Math.floor(analysis.strength.overall)}%`
                .row
                    .col-12.col-md-6.col-lg-3
                        h5 Education
                            +thumbs-indicator(analysis.strength.education)
                        .progress.mb-4
                            .progress-bar.bg-primary.text-right.pr-1(style=`width:${analysis.strength.education}%`)
                                = `${Math.floor(analysis.strength.education)}%`
                    .col-12.col-md-6.col-lg-3
                        h5 Work Experience
                            +thumbs-indicator(analysis.strength.work)
                        .progress.mb-4
                            .progress-bar.bg-primary.text-right.pr-1(style=`width:${analysis.strength.work}%`)
                                = `${Math.floor(analysis.strength.work)}%`
                    .col-12.col-md-6.col-lg-3
                        h5 Skills
                            +thumbs-indicator(analysis.strength.skills)
                        .progress.mb-4
                            .progress-bar.bg-primary.text-right.pr-1(style=`width:${analysis.strength.skills}%`)
                                = `${Math.floor(analysis.strength.skills)}%`
                    .col-12.col-md-6.col-lg-3
                        h5 Certifications
                            +thumbs-indicator(analysis.strength.certifications)
                        .progress.mb-4
                            .progress-bar.bg-primary.text-right.pr-1(style=`width:${analysis.strength.certifications}%`)
                                = `${Math.floor(analysis.strength.certifications)}%`
                if analysis.requirements.length > 0
                    br
                    h5 Requirements
                    each suggestion in analysis.requirements
                        .row
                            .col-12
                                .alert.alert-danger(style='font-size:0.9em;vertical-align:middle')
                                    .btn.mr-2.text-danger
                                        if suggestion.for == 'education'
                                            ion-icon(name='school-outline')
                                        else if suggestion.for == 'work'
                                            ion-icon(name='briefcase-outline')
                                        else if suggestion.for == 'skills'
                                            ion-icon(name='checkmark-done-outline')
                                        else if suggestion.for == 'certifications'
                                            ion-icon(name='document-outline')
                                    span= suggestion.message
                if analysis.tips.length > 0
                    br
                    h5 Tips
                    each suggestion in analysis.tips
                        .row
                            .col-12
                                .alert.alert-info(style='font-size:0.9em;vertical-align:middle')
                                    .btn.mr-2.text-info
                                        if suggestion.for == 'education'
                                            ion-icon(name='school-outline')
                                        else if suggestion.for == 'work'
                                            ion-icon(name='briefcase-outline')
                                        else if suggestion.for == 'skills'
                                            ion-icon(name='checkmark-done-outline')
                                        else if suggestion.for == 'certifications'
                                            ion-icon(name='document-outline')
                                    span= suggestion.message

        include components/footer
        include components/scripts