include components/dashboard/work-experience
include components/dashboard/education
include components/dashboard/personal-info
include components/dashboard/skillset
include components/dashboard/certifications
include components/dashboard/goals

mixin strength-indicator-dot(strength)
    if strength <= 55
        .btn.text-danger
            ion-icon(name='ellipse')
    else if strength <= 75
        .btn.text-warning
            ion-icon(name='ellipse')
    else
        .btn.text-success
            ion-icon(name='ellipse')

mixin overview-card(account)
    #certifications-card.card.w-100.mb-4
        .card-body.p-4
            .row
                .col
                .col-10.col-md-8.col-lg-6
                    .row
                        .col-12.text-center
                            img#profile-icon.rounded-pill(src='/app/account/my-photo')
                    .row
                        .col-12
                            h4.card-title.text-center.mt-2= `${account.fname} ${account.lname}`
                    .row#change-profile-pic-wrapper(hidden)
                        .col-12
                            h5 Change Profile Image
                            div#profile-pic-dropzone.w-100.p-4.bg-light
                                h4 Drag image to upload
                                p or click here to browse
                .col

doctype html

html(lang='en-US')
    head
        include components/head
    body
        include components/navbar

        +add-work-experience-modal
        +add-education-modal
        +add-skill-modal
        +add-certification-modal

        each job, index in workExperience
            +edit-work-experience-modal(job, index)
        each education in educationHistory
            +edit-education-modal(education)
        each skill in skillset
            +edit-skill-modal(skill)
        each certification in certifications
            +edit-certification-modal(certification)
        
        .container.mt-4
            .row
                .col-12
                    +overview-card(account)
            .row
                .col-12.col-lg-6
                    +personal-info-card(account)
                    +education-card(educationHistory)
                    +certifications-card(certifications)
                .col-12.col-lg-6
                    +goals-card(account)
                    +skills-card(skillset)
                    +work-experience-card(workExperience)                    
        .container-fluid.mt-4.text-dark.pt-4.pb-4.bg-light
            .container
                .row
                    .col-12
                        h4.mb-4 Resume Strength
                .row
                    .col-12
                        h5 Overall Stregth
                            +strength-indicator-dot(analysis.strength.overall)
                        .progress.mb-4
                            .progress-bar.bg-primary.text-right.pr-1(style=`width:${analysis.strength.overall}%`)
                                = `${Math.floor(analysis.strength.overall)}%`
                .row
                    .col-12.col-md-6.col-lg-3
                        h5 Education
                            +strength-indicator-dot(analysis.strength.education)
                        .progress.mb-4
                            .progress-bar.bg-primary.text-right.pr-1(style=`width:${analysis.strength.education}%`)
                                = `${Math.floor(analysis.strength.education)}%`
                    .col-12.col-md-6.col-lg-3
                        h5 Work Experience
                            +strength-indicator-dot(analysis.strength.work)
                        .progress.mb-4
                            .progress-bar.bg-primary.text-right.pr-1(style=`width:${analysis.strength.work}%`)
                                = `${Math.floor(analysis.strength.work)}%`
                    .col-12.col-md-6.col-lg-3
                        h5 Skills
                            +strength-indicator-dot(analysis.strength.skills)
                        .progress.mb-4
                            .progress-bar.bg-primary.text-right.pr-1(style=`width:${analysis.strength.skills}%`)
                                = `${Math.floor(analysis.strength.skills)}%`
                    .col-12.col-md-6.col-lg-3
                        h5 Certifications
                            +strength-indicator-dot(analysis.strength.certifications)
                        .progress.mb-4
                            .progress-bar.bg-primary.text-right.pr-1(style=`width:${analysis.strength.certifications}%`)
                                = `${Math.floor(analysis.strength.certifications)}%`
                if analysis.requirements.length > 0
                    br
                    h5 Requirements
                    each suggestion in analysis.requirements
                        .row
                            .col-12
                                .alert.alert-danger(style='font-size:0.9em;vertical-align:middle')
                                    .btn.mr-2.text-danger
                                        if suggestion.for == 'education'
                                            ion-icon(name='school-outline')
                                        else if suggestion.for == 'work'
                                            ion-icon(name='briefcase-outline')
                                        else if suggestion.for == 'skills'
                                            ion-icon(name='checkmark-done-outline')
                                        else if suggestion.for == 'certifications'
                                            ion-icon(name='document-outline')
                                    span= suggestion.message
                if analysis.tips.length > 0
                    br
                    h5 Tips
                    each suggestion in analysis.tips
                        .row
                            .col-12
                                .alert.alert-info(style='font-size:0.9em;vertical-align:middle')
                                    .btn.mr-2.text-info
                                        if suggestion.for == 'education'
                                            ion-icon(name='school-outline')
                                        else if suggestion.for == 'work'
                                            ion-icon(name='briefcase-outline')
                                        else if suggestion.for == 'skills'
                                            ion-icon(name='checkmark-done-outline')
                                        else if suggestion.for == 'certifications'
                                            ion-icon(name='document-outline')
                                    span= suggestion.message
        include components/footer
        include components/scripts