include components/dashboard/work-experience
include components/dashboard/education
include components/dashboard/personal-info
include components/dashboard/skillset
include components/dashboard/certifications
include components/dashboard/goals

doctype html

html(lang='en-US')
    head
        include components/head
    body
        include components/navbar

        +add-work-experience-modal
        +add-education-modal
        +add-skill-modal
        +add-certification-modal

        each job, index in workExperience
            +edit-work-experience-modal(job, index)
        each education in educationHistory
            +edit-education-modal(education)
        each skill in skillset
            +edit-skill-modal(skill)
        each certification in certifications
            +edit-certification-modal(certification)
        
        .container.mt-4
            .row
                .col-12
                    span= `${account.fname} ${account.lname} (${account.email})`
            .row
                .col-12
                    hr
            .row
                .col-12.col-lg-6
                    +personal-info-card(account)
                    +skills-card(skillset)
                .col-12.col-lg-6
                    +goals-card(account)
                    +education-card(educationHistory)
                    +work-experience-card(workExperience)
                    +certifications-card(certifications)
        .container-fluid.mt-4.text-dark.pt-4.pb-4(style='background:rgb(230, 230, 230)')
            .container
                .row
                    .col-12
                        h4.mb-4 Resume Strength
                .row
                    .col-12
                        h5 Overall Stregth
                        .progress.mb-4.bg-light
                            .progress-bar.bg-primary.text-right.pr-1(style=`width:${analysis.strength.overall}%`)
                                = `${Math.floor(analysis.strength.overall)}%`
                .row
                    .col-12.col-md-6.col-lg-3
                        h5 Education
                        .progress.mb-4.bg-light
                            .progress-bar.bg-primary.text-right.pr-1(style=`width:${analysis.strength.education}%`)
                                = `${Math.floor(analysis.strength.education)}%`
                    .col-12.col-md-6.col-lg-3
                        h5 Work Experience
                        .progress.mb-4.bg-light
                            .progress-bar.bg-primary.text-right.pr-1(style=`width:${analysis.strength.work}%`)
                                = `${Math.floor(analysis.strength.work)}%`
                    .col-12.col-md-6.col-lg-3
                        h5 Skills
                        .progress.mb-4.bg-light
                            .progress-bar.bg-primary.text-right.pr-1(style=`width:${analysis.strength.skills}%`)
                                = `${Math.floor(analysis.strength.skills)}%`
                    .col-12.col-md-6.col-lg-3
                        h5 Certifications
                        .progress.mb-4.bg-light
                            .progress-bar.bg-primary.text-right.pr-1(style=`width:${analysis.strength.certifications}%`)
                                = `${Math.floor(analysis.strength.certifications)}%`
                if analysis.requirements.length > 0
                    br
                    h5 Requirements
                    each suggestion in analysis.requirements
                        .row
                            .col-12
                                .alert.alert-dark(style='font-size:0.9em;vertical-align:middle')
                                    .row
                                        .col-1
                                            if suggestion.for == 'education'
                                                ion-icon.p-1(name='school-outline')
                                            else if suggestion.for == 'work'
                                                ion-icon.p-1(name='briefcase-outline')
                                            else if suggestion.for == 'skills'
                                                ion-icon.p-1(name='checkmark-done-outline')
                                            else if suggestion.for == 'certifications'
                                                ion-icon.p-1(name='document-outline')
                                        .col-11= suggestion.message
                if analysis.tips.length > 0
                    br
                    h5 Tips
                    each suggestion in analysis.tips
                        .row
                            .col-12
                                .alert.alert-secondary(style='font-size:0.9em;vertical-align:middle')
                                    .row
                                        .col-1
                                            if suggestion.for == 'education'
                                                ion-icon.p-1(name='school-outline')
                                            else if suggestion.for == 'work'
                                                ion-icon.p-1(name='briefcase-outline')
                                            else if suggestion.for == 'skills'
                                                ion-icon.p-1(name='checkmark-done-outline')
                                            else if suggestion.for == 'certifications'
                                                ion-icon.p-1(name='document-outline')
                                        .col-11= suggestion.message

        include components/footer
        include components/scripts