doctype html

mixin section-title(label)
    h2= label
    .blue-bar &nbsp;
    br

mixin work-experience(experience)
    h3= experience.organization
        small= `${experience.start} - ${experience.end}`
    p(style='font-weight:600;')= experience.position
    if experience.description.indexOf("\n") > 0
        for line in experience.description.split("\n")
            p.description-line= line
    else
        p= experience.description
    br

mixin education(edu)
    h3= edu.institution
        if edu.end
            small= `${edu.end.split("/")[1]}`
        else
            small= `${edu.start.split("/")[1]} - Present`
    p(style='font-weight:600;')= `${edu.level} // ${edu.degree}`
    if edu.description.indexOf("\n") > 0
        for line in edu.description.split("\n")
            p.description-line= line
    else
        p= edu.description
    br

mixin certification(cert)
    h3= `${cert.certification} at `
        em(style='color:var(--dark-blue)')= cert.institution
        small= cert.examDate
    br


html(lang='en-US')
    head
        meta(charset='utf-8')
        link(rel='stylesheet' href='/stylesheets/resumes/resume.css')
        link(rel='stylesheet' href='/stylesheets/resumes/budgie-blue.css')
    body
        .page
            #left-col
                img#profile-photo(src='/app/account/my-photo')

                #contact-section
                    if account.objective && account.objective.length > 0
                        .contact-info
                            h3 Objective
                            .white-bar
                            p(style='text-align:justify;text-justify:inner-word')= account.objective
                    if account.phone
                        .contact-info
                            h3 Phone
                            .white-bar
                            p= account.phone
                    if account.email
                        .contact-info
                            h3 Email
                            .white-bar
                            p= account.email
                    if account.address
                        .contact-info
                            h3 Address
                            .white-bar
                            p
                                if account.address.line1
                                    = account.address.line1
                                    br
                                if account.address.line2
                                    = account.address.line2
                                    br
                                if account.address.city && account.address.state && account.address.zip
                                    = `${account.address.city}, ${account.address.state} ${account.address.zip}`
            #white-box
                h1= `${account.fname} ${account.lname}`
                #main-section
                    .resume-section
                        if workExperience.length > 0
                            +section-title('Work Experience')
                            each experience in workExperience
                                +work-experience(experience)
                    .resume-section
                        if educationHistory.length > 0
                            +section-title('Education')
                            each education in educationHistory
                                +education(education)
                    .resume-section
                        if certifications.length > 0
                            +section-title('Certifications')
                            each certification in certifications
                                +certification(certification)
                    .resume-section
                        if skillset.length > 0
                            +section-title('Skills')
                            p
                                each skill, n in skillset
                                    if n < skillset.length - 1
                                        = `${skill.name}, `
                                    else
                                        = skill.name

        script(src='https://unpkg.com/ionicons@5.1.2/dist/ionicons.js')