doctype html

mixin section-title(label)
    h2= label
    .blue-bar &nbsp;

mixin work-experience(experience)
    h3= `${experience.position} // ${experience.organization}`
        small= `${experience.start} - ${experience.end}`
    p= experience.description

mixin education(edu)
    h3= edu.institution
        small= `${edu.end.split("/")[2]}`
    p= `${edu.level} // ${edu.degree}`
    p= edu.description
    

html(lang='en-US')
    head
        meta(charset='utf-8')
        link(rel='stylesheet' href='/stylesheets/resumes/budgie-blue.css')
    body
        .page
            #white-box
                h1= `${account.fname} ${account.lname}`
                #main-section
                    +section-title('Objective')
                    p(style='margin-top:5pt') Your objective will appear here
                    +section-title('Work Experience')
                    each experience in workExperience
                        +work-experience(experience)
                    +section-title('Education')
                    each education in educationHistory
                        +education(education)
            


        script(src='https://unpkg.com/ionicons@5.1.2/dist/ionicons.js')