doctype html

mixin section-title(label)
    h2= label
    .blue-bar &nbsp;
    br

mixin work-experience(experience)
    h3= `${experience.position} // ${experience.organization}`
        small= `${experience.start} - ${experience.end}`
    p= experience.description

mixin education(edu)
    h3= edu.institution
        small= `${edu.end.split("/")[2]}`
    p= `${edu.level} // ${edu.degree}`
    p= edu.description

mixin certification(cert)
    h3= cert.name
        small= ` at ${cert.institution}`


html(lang='en-US')
    head
        meta(charset='utf-8')
        link(rel='stylesheet' href='/stylesheets/resumes/resume.css')
        style.
            :root {
                --blue: #126dff;
                --light-blue: #5295ff;
                --dark-blue: #0a3a86;
            }

            h1 {
                text-align: center;
                font-size: 36pt;
                color: var(--blue);
                font-weight: lighter;
                margin: 0;
            }

            h4 {
                margin: 0;
                color: var(--dark-blue);
            }

            #contact {
                text-align: center;
                font-size: 12pt;
            }

            .date {
                color: gray;
                font-size: 10pt;
            }

            .p-12 {
                padding: 12pt;
                box-sizing: border-box;
            }

            .spacer-12 {
                width: 12pt;
            }

            .title-cell {
                padding-left: 12pt;
                padding-right: 12pt;
            }

            .work-item {
                padding-right: 12pt;
            }

            .education-item {
                padding-left: 12pt;
            }

            td {
                vertical-align: top;
            }

            h3 {
                color: black;
                font-size: 10pt;
                font-weight: 500;
                text-transform: uppercase;
                margin: 0;
            }

            p {
                font-size: 10pt;
                margin: 0;
            }

            .mb-12 {
                margin-bottom: 12pt;
            }

            .text-blue {
                color: var(--blue);
            }

            .text-light-blue {
                color: var(--light-blue);
            }

            .text-dark-blue {
                color: var(--dark-blue)
            }

            #left-col {
                width: 33%;
                height: 100%;
                float: left;
                padding: 0.25in;
                box-sizing: border-box;
                text-align: center;
                color: white;
            }

            #left-col h3 {
                color: white;
            }

            #white-box {
                background: white;
                width: 67%;
                height: 100%;
                float: right;
                padding: 0.25in;
                box-sizing: border-box;
            }

            #main-section {
                margin-top: 0.5in;
            }

            h2 {
                color: var(--blue);
                margin-bottom: 1pt;
                font-weight: 400;
                font-size: 12pt;
                text-transform: uppercase;
            }

            .blue-bar {
                height: 1px;
                width: 0.5in;
                background: var(--blue);
            }

            .white-bar {
                height: 1px;
                width: 30%;
                margin-left: 35%;
                margin-right: 35%;
                box-sizing: border-box;
                background: white;
                margin-top: 5pt;
                margin-bottom: 10pt;
            }

            h3 small {
                font-weight: inherit;
                font-size: inherit;
                color: gray;
                float: right;
            }

            #profile-photo {
                border-radius: 50%;
                background: white;
                width: 75%;
            }

            #contact-section {
                margin-top: 0.5in;
            }

            .contact-info {
                margin-bottom: 0.25in;
            }

            .resume-section {
                margin-bottom: 0.25in;
            }
    body
        .page
            #left-col
                img#profile-photo(src='/app/account/my-photo')

                #contact-section
                    if account.phone
                        .contact-info
                            h3 Phone
                            .white-bar
                            p= account.phone
                    if account.email
                        .contact-info
                            h3 Email
                            .white-bar
                            p= account.email
                    if account.address
                        .contact-info
                            h3 Address
                            .white-bar
                            p
                                if account.addres.line1
                                    = account.address.line1
                                    br
                                if account.address.line2
                                    = account.address.line2
                                    br
                                if account.address.city && account.address.state && account.address.zip
                                    = `${account.address.city}, ${account.address.state} ${account.address.zip}`
            #white-box
                h1= `${account.fname} ${account.lname}`
                #main-section
                    .resume-section
                        +section-title('Objective')
                        p Your objective will appear here
                        if workExperience.length > 0
                            +section-title('Work Experience')
                            each experience in workExperience
                                +work-experience(experience)
                    .resume-section
                        if educationHistory.length > 0
                            +section-title('Education')
                            each education in educationHistory
                                +education(education)
                    .resume-section
                        if certifications.length > 0
                            +section-title('Certifications')
                            each certification in certifications
                                +certification(certification)
                    .resume-section
                        if skillset.length > 0
                            +section-title('Skills')
                            p
                                each skill, n in skillset
                                    if n < skillset.length - 1
                                        = `${skill.name}, `
                                    else
                                        = skill.name

        script(src='https://unpkg.com/ionicons@5.1.2/dist/ionicons.js')