doctype html

mixin section-title(label)
    h2= label
    .blue-bar &nbsp;

mixin work-experience(experience)
    h3= `${experience.position} // ${experience.organization}`
        small= `${experience.start} - ${experience.end}`
    p= experience.description

mixin education(edu)
    h3= edu.institution
        small= `${edu.end.split("/")[2]}`
    p= `${edu.level} // ${edu.degree}`
    p= edu.description

mixin certification(cert)
    h3= cert.name
        small= ` at ${cert.institution}`


html(lang='en-US')
    head
        meta(charset='utf-8')
        link(rel='stylesheet' href='/stylesheets/resumes/budgie-blue.css')
    body
        .page
            #white-box
                h1= `${account.fname} ${account.lname}`
                #main-section
                    +section-title('Objective')
                    p(style='margin-top:5pt') Your objective will appear here
                    if workExperience.length > 0
                        +section-title('Work Experience')
                        each experience in workExperience
                            +work-experience(experience)
                    if educationHistory.length > 0
                        +section-title('Education')
                        each education in educationHistory
                            +education(education)
                    if certifications.length > 0
                        +section-title('Certifications')
                        each certification in certifications
                            +certification(certification)
                    if skillset.length > 0
                        +section-title('Skills')
                        p
                            each skill, n in skillset
                                if n < skillset.length - 1
                                    = `${skill.name}, `
                                else
                                    = skill.name

        script(src='https://unpkg.com/ionicons@5.1.2/dist/ionicons.js')