doctype html

mixin section-title(label)
    h2= label
    .blue-bar &nbsp;
    br

mixin work-experience(experience)
    h3= `${experience.position} // ${experience.organization}`
        small= `${experience.start} - ${experience.end}`
    p= experience.description

mixin education(edu)
    h3= edu.institution
        small= `${edu.end.split("/")[2]}`
    p= `${edu.level} // ${edu.degree}`
    p= edu.description

mixin certification(cert)
    h3= cert.name
        small= ` at ${cert.institution}`


html(lang='en-US')
    head
        meta(charset='utf-8')
        link(rel='stylesheet' href='/stylesheets/resumes/budgie-blue.css')
    body
        .page
            #left-col
                img#profile-photo(src='/app/account/my-photo')

                #contact-section
                    if account.phone
                        .contact-info
                            h3 Phone
                            .white-bar
                            p= account.phone
                    if account.email
                        .contact-info
                            h3 Email
                            .white-bar
                            p= account.email
                    if account.address
                        .contact-info
                            h3 Address
                            .white-bar
                            p
                                if account.addres.line1
                                    = account.address.line1
                                    br
                                if account.address.line2
                                    = account.address.line2
                                    br
                                if account.address.city && account.address.state && account.address.zip
                                    = `${account.address.city}, ${account.address.state} ${account.address.zip}`
            #white-box
                h1= `${account.fname} ${account.lname}`
                #main-section
                    .resume-section
                        +section-title('Objective')
                        p Your objective will appear here
                        if workExperience.length > 0
                            +section-title('Work Experience')
                            each experience in workExperience
                                +work-experience(experience)
                    .resume-section
                        if educationHistory.length > 0
                            +section-title('Education')
                            each education in educationHistory
                                +education(education)
                    .resume-section
                        if certifications.length > 0
                            +section-title('Certifications')
                            each certification in certifications
                                +certification(certification)
                    .resume-section
                        if skillset.length > 0
                            +section-title('Skills')
                            p
                                each skill, n in skillset
                                    if n < skillset.length - 1
                                        = `${skill.name}, `
                                    else
                                        = skill.name

        script(src='https://unpkg.com/ionicons@5.1.2/dist/ionicons.js')